<div class="footerWeb">
    <div class="footer-box text-center">
        <p>© 2024-3000. Toàn bộ bản quyền thuộc Gtel CDS</p>
    </div>
    <script th:src="@{/web/js/app.js}"></script>
    <link rel="stylesheet" th:href="@{/web/css/validationEngine.jquery.css}">
    <script th:src="@{/web/js/jquery.validationEngine-vi.js}"></script>
    <script th:src="@{/web/js/jquery.validationEngine.js}"></script>
    <script th:src="@{/web/js/bootstrap.min.js}"></script>
    <script th:src="@{/web/js/admin/main.js}"></script>
</div>