<div class="content-page" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="content">
        <!-- Start Content-->
        <div class="container-fluid">
            <div class="mt-5">
                <div class="mb-3 content-categoryProduct-body">
                    <h2 class="mb-3"><b>Danh sách tài khoản:</b> </h2>
                    <div class="table-listCategoryProduct">
                        <table class="table table-hover">
                            <thead class="thead-dark" id="productListHead">
                                <tr>
                                    <th scope="col">STT</th>
                                    <th scope="col">Tài khoản</th>
                                    <th scope="col">Họ tên</th>
                                    <th scope="col">Quyền</th>
                                    <th scope="col">Ngày khởi tạo</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody id="productListBody">
                                <tr th:each="user, str : ${customListUsers}">
                                    <td th:text="${str.index + 1}"></td>
                                    <td th:text="${user.getUserName()}"></td>
                                    <td th:text="${user.getFullName()}"></td>
                                    <td th:text="${user.getRole()}"></td>
                                    <td th:text="${user.getCreateAt()}"></td>
                                    <td>
                                        <a href="#" class="user-edit" th:data-id="${user.getId()}">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"
                                                title="Sửa thông tin tài khoản"></i>
                                        </a>
                                        <a href="#" style="color: red" class="user-remove" th:data-id="${user.getId()}">
                                            <i class="fa fa-trash-o" aria-hidden="true"
                                               title="Xoá thông tin tài khoản"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/web/js/admin/infors/listUser.js}"></script>
</div>