<li th:each="item: ${partners}" class="item-partner-home" th:value="${item.getId()}" th:text="${item.getNameCompany()}"></li>
<script>

    $(document).ready(function(){
        $(".item-partner-home").click(function(){
            const loadingSpinner = document.getElementById('loading-spinner');
            loadingSpinner.style.display = 'flex';
            console.log(loadingSpinner)
            let idPartner = $(this).val();
            console.log(idPartner);
            var bodyData = JSON.stringify({
                partnerId :  idPartner
            });
            fetch(`${localdomain}/api/partner/get-info-a`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "Authorization": `Bearer ${token}`
                },
                body: bodyData // Dữ liệu gửi đi
            }).then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            }).then(data => {
                console.log(data)
                if (data.success) {
                    alertGloable(data.success);
                    $("#bank-user-info-a").val(data.data.fullName);
                    $("#address-info-a").val(data.data.fullName);

                } else {
                    alert(data.message);
                }
            })
                .catch(error => {
                    console.error('There has been a problem with your fetch operation:', error);
                }).finally(() => {
                // Ẩn spinner
                loadingSpinner.style.display = 'none';
            });
        })
    })

</script>
