<div class="content-page" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="content">
        <!-- Start Content-->
        <div class="container-fluid">
            <div class="register-box">
                <div class="row">
                    <div class="col-12">
                        <div class="register-box-header d-flex flex-column justify-content-center align-items-center">
                            <b> Tạo Khách Hàng Mới:  </b>
                        </div>
                        <div id="thongbao" class="d-flex flex-column align-items-center">

                        </div>
                        <div class="register-box-content">
                            <div class="register-form-group mb-5">
                                <input type="text" placeholder="Nhập Tên công ty" maxlength="255" autocomplete="off" class="register-input partner-register-input-company" id="partner-register-input-company">
                                <label  for="partner-register-input-company">Tên công ty<span class="register-input-unique">(*)</span>:</label>
                                <div class="error-register" id="form-error-partner-register-company"></div>
                            </div>
                            <div class="register-form-group mb-5">
                                <input type="text" placeholder="Nhập họ và tên người đại diện" maxlength="255" autocomplete="off" class="register-input partner-register-input-fullName" id="partner-register-input-fullName">
                                <label  for="partner-register-input-fullName">Họ và tên<span class="register-input-unique">(*)</span>:</label>
                                <div class="error-register" id="form-error-partner-register-fullName"></div>
                            </div>

                            <div class="register-form-group mb-5">
                                <div class="col-12 mb-3 ps-0">
                                    <span>Chức vụ<span class="register-input-unique">(*)</span>:</span>
                                </div>
                                <select name="" id="partner-register-input-position" class="form-control">
                                    <option value="">-> Chọn chức vụ <-</option>
                                    <option th:if="${positions != null}" th:each="item, str : ${positions}" th:value="${item.getId()}" th:text="${item.getPositionName()}"></option>
                                </select>
                                <div class="error-register" id="form-error-register-position"></div>
                            </div>
                            <div class="register-form-group mb-5">
                                <div class="col-12 mb-3 ps-0">
                                    <span>Giới tính<span class="register-input-unique">(*)</span>:</span>
                                </div>
                                <select name="" id="partner-register-input-gender" class="form-control">
                                    <option value="">-> Chọn giới tính <-</option>
                                    <option value="1">Nam</option>
                                    <option value="0">Nữ</option>
                                </select>
                                <div class="error-register" id="form-error-register-gender"></div>
                            </div>
                            <div class="register-form-group mb-5">
                                <input type="text" placeholder="Nhập số điện thoại" maxlength="255" autocomplete="off" class="register-input partner-register-input-phone" id="partner-register-input-phone">
                                <label for="partner-register-input-phone">Số điện thoại<span class="register-input-unique">(*)</span>:</label>
                                <div class="error-register" id="form-error-partner-register-input-phone"></div>
                            </div>
                            <div class="register-form-group mb-5">
                                <input type="email" placeholder="Nhập email" maxlength="255" autocomplete="off" class="register-input partner-register-input-email" id="partner-register-input-email">
                                <label for="partner-register-input-email">Email:</label>
                                <div class="error-register" id="form-partner-register-input-email"></div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-12 mb-3">
                                    <span>Địa chỉ<span class="register-input-unique">(*)</span>:</span>
                                </div>
                                <div class="col-6 mb-3 form-select-tt">
                                    <select class="form-control form-select" aria-label="Default select example" id="form_tinh-register">
                                        <option value=""  selected>Chọn tỉnh thành</option>
                                        <option th:each="item : ${listProvince}" th:text="${item.getFullName()}" th:value="${item.getCode()}"></option>
                                    </select>
                                </div>
                                <div class="col-6 mb-3 ps-0 form-select-tt">
                                    <select class="form-control form-select" aria-label="Default select example" id="form_quan-register">
                                        <option value=""  selected>Chọn Quận/Huyện</option>
                                    </select>
                                </div>
                                <div class="col-6 mb-3 form-select-tt">
                                    <select class="form-control form-select" aria-label="Default select example" id="form_xa-register">
                                        <option value=""  selected>Chọn Phường/ Xã</option>
                                    </select>
                                </div>
                                <div class="col-6 mb-3 ps-0">
                                    <input type="text" class="form-control" id="form_duong-register" placeholder="Số nhà, tên đường">
                                </div>
                                <div class="col-12">
                                    <div class="error-register" id="form-error-register-address"></div>
                                </div>
                            </div>
                            <div class="register-form-group mb-5">
                                <input type="text" placeholder="Nhập mã số thuế" minlength="10" maxlength="14" autocomplete="off" class="register-input partner-register-input-mst" id="partner-register-input-mst">
                                <label for="partner-register-input-mst">Mã số thuế : <span class="register-input-unique">(*)</span>:</label>
                                <div class="error-register" id="form-error-partner-register-mst"></div>
                            </div>
                            <div class="register-form-group mb-5">
                                <input type="text" placeholder="Nhập số tài khoản" maxlength="255" autocomplete="off" class="register-input partner-register-input-stk" id="partner-register-input-stk">
                                <label for="partner-register-input-stk">Nhập lại mật khẩu<span class="register-input-unique">(*)</span>:</label>
                                <div class="error-register" id="form-error-partner-register-stk"></div>
                            </div>
                            <div class="register-form-group mb-5">
                                <input type="text" placeholder="Nhập tên chi nhánh ngân hàng" maxlength="255" autocomplete="off" class="register-input partner-register-input-bank" id="partner-register-input-bank">
                                <label for="partner-register-input-bank">Nhập lại mật khẩu<span class="register-input-unique">(*)</span>:</label>
                                <div class="error-register" id="form-error-partner-register-bank"></div>
                            </div>
                        </div>

                        <div class="mb-5 d-flex align-items-center justify-content-start mt-3">
                            <button type="button" class="btn btn-warning btn-register btn-registerSendPartner">Thêm khách hàng</button>
                            <button type="button" class="btn btn-danger btn-register btn-backToHome" style="margin-right: 15px;">Trở lại</button>
                        </div>

                    </div>
                    <div class="col-12"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/web/js/admin/partners/register.js}"></script>
