<div class="content-page" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="content">
        <!-- Start Content-->
        <div class="container-fluid">
            <div class="body-main" sec:authorize="isAuthenticated()">
                <div class="title mb-3">
                    <h3 class="text-center">Form nhập dữ liệu</h3>
                </div>
                <div class="row box-content">
                    <div class="col-12 box-shadow box-product">
                        <fieldset>
                            <legend>Chọn sản phẩm:</legend>
                        </fieldset>
                        <select class="form-control mb-3" id="select-product">
                            <option value="">--> Chọn sản phẩm <--</option>
                            <option th:each="item : ${listProduct}" th:value="${item.getId}" th:text="${item.productName}"></option>
                        </select>
                        <div class="row box-product-content">
                            <div class="col-12 col-md-6 mb-3">
                                <div class="item-product">
                                    <label for="product-info-name">Tên sản phẩm :</label>
                                    <input type="text" name="product-info-name" class="form-control" id="product-info-name" disabled>
                                    <div class="error-from" id="error-product-info-name"></div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 mb-3">
                                <div class="item-product">
                                    <label for="product-info-sl">Số lượng :</label>
                                    <input type="number" name="product-info-sl" class="form-control" id="product-info-sl" >
                                    <div class="error-from" id="error-product-info-sl"></div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 mb-3">
                                <div class="item-product">
                                    <label for="product-info-price">Giá sản phẩm :</label>
                                    <input type="number" name="product-info-price" class="form-control" id="product-info-price" disabled>
                                    <div class="error-from" id="error-product-info-price"></div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 mb-3">
                                <div class="item-product">
                                    <label for="product-info-sauThue">Tổng tiền sau thuế :</label>
                                    <input type="number" name="product-info-sauThue" class="form-control" id="product-info-sauThue" disabled>
                                    <div class="error-from" id="error-product-info-sauThue"></div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 mb-3">
                                <div class="item-product">
                                    <label for="product-info-type">Đơn vị tính :</label>
                                    <input type="text" name="product-info-type" class="form-control" id="product-info-type" >
                                    <div class="error-from" id="error-product-info-type"></div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 mb-3">
                                <div class="item-product">
                                    <label for="product-info-thue">Phần trăm thuế :</label>
                                    <input type="number" name="product-info-thue" class="form-control" id="product-info-thue" >
                                    <div class="error-from" id="error-product-info-thue"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 box-shadow box-info-a mt-3">
                        <div class="box-cart-top mb-3 pb-3">
                            <h3 class="mb-3 box-info-a-title-top title-custom">
                                Thông tin bên khách hàng bên A:
                            </h3>
                            <div class="row">
                                <div class="col-12 item-info-a1">
                                    <div class="item-info-a">
                                        <label for="name-company-info-a">Tên công ty :</label>
                                        <input type="text" name="name-company-info-a" class="form-control" id="name-company-info-a" placeholder="Nhập Tên công ty">
                                        <div class="error-from" id="error-name-company-info-a"></div>
                                        <ul class="box-listPartner" id="box-listPartner">

                                        </ul>
                                    </div>

                                </div>
                                <div class="col-12" id="load-info-benA">

                                </div>
                            </div>
                        </div>
                        <div class="box-a-bottom">
                            <h3 class="mb-3 box-info-a-title-bottom title-custom">
                                Thông tin đầu mối bên A :
                            </h3>
                            <div class="row">
                                <div class="col-12 col-md-6 mb-3">
                                    <div class="item-info-a">
                                        <label for="full-name-dm-a">Họ và tên đầu mối:</label>
                                        <select>
                                            <option>Chon giới tinh</option>
                                            <option>Ông</option>
                                            <option>Bà</option>
                                        </select>
                                        <input type="text" name="full-name-dm-a" class="form-control" id="full-name-dm-a" placeholder="Nhập chức vụ">
                                        <div class="error-from" id="error-full-name-dm-a"></div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <div class="item-info-a">
                                        <label for="role-dm-a">Chức vụ đầu mối :</label>
                                        <select class="form-control" id="role-dm-a">
                                            <option value="">Chon chuc vu</option>
                                        </select>
                                        <div class="error-from" id="error-role-dm-a"></div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <div class="item-info-a">
                                        <label for="phone-dm-a">SĐT đầu mối :</label>
                                        <input type="text" name="phone-dm-a" class="form-control" id="phone-dm-a" placeholder="Nhập SĐT đầu mối">
                                        <div class="error-from" id="error-phone-dm-a"></div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <div class="item-info-a">
                                        <label for="email-dm-a">Email đầu mối :</label>
                                        <input type="text" name="email-dm-a" class="form-control" id="email-dm-a" placeholder="Nhập Email đầu mối">
                                        <div class="error-from" id="error-email-dm-a"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-12 box-shadow box-info-b mt-3">
                        <h3 class="title-custom mb-3">Thông tin bên B:</h3>
                        <div class="row">
                            <div class="col-12 col-md-6 mb-3">
                                <div class="item-info-b box-listUser-children">
                                    <label for="full-name-dm-b">Họ và tên đầu mối:</label>
                                    <select>
                                        <option>Chon giới tinh</option>
                                        <option>Ông</option>
                                        <option>Bà</option>
                                    </select>
                                    <input type="text" name="full-name-dm-b" class="form-control" id="full-name-dm-b" placeholder="Nhập người đại diện">
                                    <ul class="box-listUser" id="box-listUser">

                                    </ul>
                                    <div class="error-from" id="error-full-name-dm-b"></div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 mb-3">
                                <div class="item-info-a">
                                    <label for="role-dm-b">Chức vụ đầu mối :</label>
                                    <select class="form-control" id="role-dm-b">
                                        <option value="">Chon chuc vu</option>
                                    </select>
                                    <div class="error-from" id="error-role-dm-b"></div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 mb-3">
                                <div class="item-info-a">
                                    <label for="phone-dm-b">SĐT đầu mối :</label>
                                    <input type="text" name="phone-dm-b" class="form-control" id="phone-dm-b" placeholder="Nhập SĐT đầu mối">
                                    <div class="error-from" id="error-phone-dm-b"></div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 mb-3">
                                <div class="item-info-a">
                                    <label for="email-dm-b">Email đầu mối :</label>
                                    <input type="text" name="email-dm-b" class="form-control" id="email-dm-b" placeholder="Nhập Email đầu mối">
                                    <div class="error-from" id="error-email-dm-b"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 box-shadow box-info-b mt-3">
                        <fieldset>
                            <legend>Thông tin thêm :</legend>
                        </fieldset>
                        <div class="row">
                            <div class="col-12 col-md-6 mb-3">
                                <div class="item-more">
                                    <label for="more-time">Thời gian triển khai :</label>
                                    <input type="datetime-local" name="more-time" class="form-control" id="more-time" placeholder="Nhập người đại diện">
                                    <div class="error-from" id="error-more-time"></div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 mb-3">
                                <div class="item-more">
                                    <label for="more-deployment-basis">Cơ sở triển khai :</label>
                                    <input type="text" name="more-deployment-basis" class="form-control" id="more-deployment-basis" placeholder="Nhập Cơ sở triển khai">
                                    <div class="error-from" id="error-more-deployment-basis"></div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 mb-3">
                                <div class="item-more">
                                    <label for="more-deployment-basis-address">Địa chỉ cơ sở triển khai:</label>
                                    <input type="text" name="more-deployment-basis-address" class="form-control" id="more-deployment-basis-address" placeholder="Nhập Địa chỉ cơ sở triển khai">
                                    <div class="error-from" id="error-more-deployment-basis-address"></div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 mb-3">
                                <div class="item-more">
                                    <label for="more-address-cs">Tỉnh triển khai :</label>
                                    <input type="text" name="more-address-cs" class="form-control" id="more-address-cs" placeholder="Nhập Tỉnh triển khai">
                                    <div class="error-from" id="error-more-address-cs"></div>
                                </div>
                            </div>
                        </div>
                        <div class="box-action">
                            <button class="btn btn-success btn-sendForm">Gửi thông tin</button>
                            <button class="btn btn-warning btn-reset">Làm mới</button>
                        </div>
                    </div>
                </div>
            </div>
            <div sec:authorize="isAnonymous()">
                <p>This content is visible to anonymous users.</p>
            </div>
        </div>
    </div>
    <script th:src="@{/web/js/mcv/content-home.js}"></script>
</div>




