<div class="col-12 col-md-6 mb-3">
  <label for="bank-user-info-a">Người đại diện :</label>
  <select>
    <option>Chon giới tinh</option>
    <option>Ông</option>
    <option>Bà</option>
  </select>

  <input type="text" name="bank-user-info-a" class="form-control" id="bank-user-info-a" placeholder="Nhập người đại diện">
  <div class="error-from" id="error-bank-user-info-a"></div>
</div>
<div class="col-12 col-md-6 mb-3">
  <div class="item-info-a">
    <label for="address-info-a">Địa chỉ khách hàng :</label>
    <input type="text" name="address-info-a" class="form-control" id="address-info-a" placeholder="Nhập địa chỉ">
    <div class="error-from" id="error-address-a"></div>
  </div>
</div>
<div class="col-12 col-md-6 mb-3">
  <div class="item-info-a">
    <label for="phone-info-a">Điện thoại khách hàng :</label>
    <input type="text" name="phone-info-a" class="form-control" id="phone-info-a" placeholder="Nhập số điện thoại">
    <div class="error-from" id="error-phone-info-a"></div>
  </div>
</div>
<div class="col-12 col-md-6 mb-3">
  <div class="item-info-a">
    <label for="mst-info-a">Mã số thuế khách hàng :</label>
    <input type="text" name="mst-info-a" class="form-control" id="mst-info-a" placeholder="Nhập mã số thuế̉">
    <div class="error-from" id="error-mst-info-a"></div>
  </div>
</div>
<div class="col-12 col-md-6 mb-3">
  <div class="item-info-a">
    <label for="email-info-a">Email nhận hoá đơn:</label>
    <input type="text" name="email-info-a" class="form-control" id="email-info-a" placeholder="Nhập email">
    <div class="error-from" id="error-email-info-a"></div>
  </div>
</div>
<div class="col-12 col-md-6 mb-3">
  <div class="item-info-a">
    <label for="stk-info-a">Số tài khoản khách hàng:</label>
    <input type="text" name="stk-info-a" class="form-control" id="stk-info-a" placeholder="Nhập Số tài khoản">
    <div class="error-from" id="error-stk-info-a"></div>
  </div>
</div>
<div class="col-12 col-md-6 mb-3">
  <div class="item-info-a">
    <label for="address-bank-info-a">Mở tại Ngân hàng :</label>
    <input type="text" name="address-bank-info-a" class="form-control" id="address-bank-info-a" placeholder="Nhập địa chỉ ngân hàng">
    <div class="error-from" id="error-address-bank-info-a"></div>
  </div>
</div>

<div class="col-12 col-md-6 mb-3">
  <div class="item-info-a">
    <label for="bank-user-role-info-a">Chức vụ khách hàng:</label>
    <select class="form-control" id="bank-user-role-info-a">
      <option value="">Chon chuc vu</option>
    </select>
    <div class="error-from" id="error-bank-user-role-info-a"></div>
  </div>
</div>