<div class="content-page" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="content">
        <!-- Start Content-->
        <div class="container-fluid">
            <div class="mt-5">
                <div class="mb-3 content-categoryProduct-body">
                    <div class="mb-3">
                        <button class="btn btn-success btn-addClue">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            Tạo mới 1 đầu mối
                        </button>
                    </div>
                    <h2 class="mb-3"><b>Danh sách đầu mối có trên hệ thống:</b> </h2>
                    <div class="table-listCategoryProduct">
                        <table class="table table-hover">
                            <thead class="thead-dark" id="productListHead">
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Họ và tên</th>
                                <th scope="col">Số điện thoại</th>
                                <th scope="col">Email</th>
                                <th scope="col">Tên công ty</th>
                                <th scope="col">Chức vụ</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody id="productListBody">
                            <tr th:each="part, str : ${clueToPartResponses}">
                                <td th:text="${str.index + 1}"></td>
                                <td th:text="${part.getNameClue()}"></td>
                                <td th:text="${part.getPhoneClue()}"></td>
                                <td th:text="${part.getEmailClue()}"></td>
                                <td th:text="${part.getPartnerName()}"></td>
                                <td th:text="${part.getPositionName()}"></td>
                                <td>
                                    <a href="#" class="dm-edit" th:data-id="${part.getIdClue()}">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"
                                           title="Sửa thông tin tài khoản"></i>
                                    </a>
                                    <a href="#" style="color: red" class="dm-remove" th:data-idClue="${part.getIdClue()}">
                                        <i class="fa fa-trash-o" aria-hidden="true"
                                           title="Xoá thông tin tài khoản"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/web/js/admin/daumoi/list-dm.js}"></script>
</div>