<div class="content-page">
    <div class="content">
        <!-- Start Content-->
        <div class="container-fluid">

            <div class="mt-5">
                <form id="productForm" enctype="multipart/form-data">
                    <div class="mb-3 content-categoryProduct-header d-flex justify-content-between align-items-center">
                        <button type="button" class="btn btn-warning btn-backProduct"><i
                                class="fa fa-chevron-circle-left" aria-hidden="true"></i> Về trang sản phẩm </button>
                        <button type="button" class="btn btn-success btn-addProductSubmit"><i class="fa fa-floppy-o"
                                aria-hidden="true"></i> Lưu</button>
                    </div>
                    <h2 class="mb-3">Thêm sản phẩm mới</h2>
                    <div class="row">
                        <div class="col-3">
                            <div class="content-productImg">
                                <div
                                    class="content-productImg-box d-flex flex-column align-items-center justify-content-center">
                                    <div class="image-preview d-flex flex-column align-items-center justify-content-center"
                                        id="imagePreviewProduct">
                                        <span id="content-productImg-span">

                                        </span>
                                    </div>
                                    <div class="box_btn-uploadImg">
                                        <input type="file" id="imageInputAddProduct" accept="image/*" name="file">
                                        <button type="button" class="btn btn-info btn-selectImg">Chọn ảnh sản
                                            phẩm</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="addProduct-content">
                                <div class="product-form-group mt-5 mb-5">
                                    <input type="text" placeholder="Nhập tên danh mục" maxlength="255"
                                        autocomplete="off" class="product-input product-input-productName"
                                        id="product-input-productName">
                                    <label for="product-input-productName">Tên Sản Phẩm<span
                                            class="product-input-unique">(*)</span>:</label>
                                    <div class="error-product" id="form-error-register-productName">
                                    </div>
                                </div>
                                <div class="product-form-group mb-5">
                                    <input type="text" placeholder="Alias sản phẩm" maxlength="255" autocomplete="off"
                                        class="product-input product-input-productAlias" id="product-input-productAlias"
                                        readonly>
                                    <label for="product-input-productAlias">alias<span
                                            class="product-input-unique">(*)</span>:</label>
                                    <div class="error-product" id="form-error-register-productAlias">
                                    </div>
                                </div>
                                <div class="product-form-group mb-5">
                                    <textarea placeholder="Nhập mô tả" maxlength="255" autocomplete="off"
                                        class="product-input product-input-productDescription"
                                        id="product-input-productDescription"></textarea>
                                    <div class="error-product" id="form-error-register-productDescription"></div>
                                </div>
                                <div class="product-form-group mt-5 mb-5">
                                    <input type="text" placeholder="Nhập tên giá sản phẩm" maxlength="255"
                                        autocomplete="off" class="product-input productCategory-input-productPrice"
                                        id="product-input-productPrice">
                                    <label for="product-input-productPrice">Giá sản phẩm<span
                                            class="product-input-unique">(*)</span>:</label>
                                    <div class="error-product" id="form-error-register-productPrice">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>


            </div>

        </div>
    </div>
    <script th:src="@{/web/js/admin/products/addProduct.js}"></script>
</div>